* {
	color: #333;
}

body {
	margin: 20px;
}

table {
	display: flex;
  	align-items: center;
  	justify-content: center;
}

td {
	border: 1px solid #333;
	text-align: center;
	padding: 4px;
}

input {
	width: 60px;
	background: #fff;
	border: 2px solid #333;
	border-radius: 10px;
	padding: 8px;
}

#inputsUV {
	
}

.price {
	background: #bbb;
}

.res {
	background: #333;
}

.text {
	font-size: 20px;
}

.button {
	display: block;
	cursor: pointer;
	margin: 5px auto 5px auto;
	width: 200px;
	height: 50px;
	border: 2px solid #333;
	border-radius: 10px;
	background: #333;
	color: #ddd;
}

.button:hover {
	color: #333;
	background: #ddd;
	box-shadow: 0px 3px 3px #000;
}